<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Share.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>WishList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>364526E025DE447300F438AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364526F625DE447400F438AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3645270125DE447400F438AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368DFA0625F4E05F0089C01D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
