<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683481659166-s3v2aaetsun2q0n0t1k5rdifr182cm8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683481659166-s3v2aaetsun2q0n0t1k5rdifr182cm8s</string>
	<key>API_KEY</key>
	<string>AIzaSyCX3btZDoYHWiAfN5V5D8Uq0CpqE5t6UKM</string>
	<key>GCM_SENDER_ID</key>
	<string>683481659166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sainkr.WishList</string>
	<key>PROJECT_ID</key>
	<string>wishlist-d32fa</string>
	<key>STORAGE_BUCKET</key>
	<string>wishlist-d32fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683481659166:ios:75001ad276a76f1f067b0f</string>
	<key>DATABASE_URL</key>
	<string>https://wishlist-d32fa-default-rtdb.firebaseio.com</string>
</dict>
</plist>